bin/
obj/
out/

*.user
*.suo
*.userosscache
*.sln.docstates

.vs/
.vscode/
*.VC.db
*.VC.opendb

.idea/

*.dotCover

_ReSharper*/
*.DotSettings.user

*.nupkg
packages/
*.snupkg

App_Data/
*.log

publish/

.idea/

*.DS_Store
Thumbs.db

*.cache
*.pdb
*.mdb
